.tabpanels,
[role="tabpanel"] {
    transition: all 0.5s ease-in-out;
}
tab-container > :not([hidden]) ~ :not([hidden]),
[tab-container=""] > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}
tab-container,
[tab-container=""] {
    font-size: 1rem;
    line-height: 1.75rem;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}
[role="tablist"] {
    background: var(--bg-primary, #fff);
    scrollbar-width: 1px;
    scrollbar-color: transparent;
    --webkit-scrollbar-color: transparent;
    width: 100%;
    position: relative;
    display: flex;
}
[role="tablist"] > :not([hidden]) ~ :not([hidden]) {
    --tw-divide-x-reverse: 0;
    border-right-width: calc(1px * var(--tw-divide-x-reverse));
    border-left-width: calc(1px * calc(1 - var(--tw-divide-x-reverse)));
    --tw-divide-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-divide-opacity));
}
[role="tablist"] {
    overflow-x: scroll;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}
[role="tablist"]::after {
    position: fixed;
    right: 10%;
    top: 50%;
    margin: 0px;
    display: block;
    height: 100%;
    width: 20%;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    padding: 0px;
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
    --tw-gradient-from: #fff;
    --tw-gradient-stops: var(--tw-gradient-from),
        var(--tw-gradient-to, rgb(255 255 255 / 0));
    --tw-gradient-to: transparent;
    z-index: 9999999;
}
[role="tablist"]::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.23);
}
[role="tab"] {
    /*   background-image: url("data:image/svg+xml,%3Csvg width='24' height='20' viewBox='0 0 24 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18c0-1.105.887-2 1.998-2 1.104 0 2-.895 2.002-1.994V14v6h-4v-2zM0 13.998C0 12.895.888 12 2 12c1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2 .888 2 2v2H0v-6.002zm16 4.004A1.994 1.994 0 0 1 14 20c-1.105 0-2-.887-2-1.998v-4.004A1.994 1.994 0 0 0 10 12c-1.105 0-2-.888-2-2 0-1.105-.888-2-2-2-1.105 0-2-.887-2-1.998V1.998A1.994 1.994 0 0 0 2 0a2 2 0 0 0-2 2V0h8v2c0 1.105.888 2 2 2 1.105 0 2 .888 2 2 0 1.105.888 2 2 2 1.105 0 2-.888 2-2 0-1.105.888-2 2-2 1.105 0 2-.888 2-2V0h4v6.002A1.994 1.994 0 0 1 22 8c-1.105 0-2 .888-2 2 0 1.105-.888 2-2 2-1.105 0-2 .887-2 1.998v4.004z' fill='transparent' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    outline: 0 solid transparent;
    outline-offset: 2px;
    border-bottom-width: 3px;
    border-top-width: 3px;
    text-align: center;
    transition-property: all;
    transition-duration: 700ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    user-drag: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity)) !important;
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
[role="tab"] > span {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}
[role="tab"]:not([aria-selected="true"]) > span {
    --tw-text-opacity: 0.6;
}
[role="tab"]:not([aria-selected="true"]) {
    --tw-bg-opacity: 1;
    background-color: rgb(248 250 252 / var(--tw-bg-opacity));
    border-top-color: transparent !important;
    font-weight: 400;
}
[role="tab"]:not([aria-selected="true"]):hover {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity)) !important;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
[role="tab"]:not([aria-selected="true"]):focus {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
}
[role="tab"]:not([aria-selected="true"]):active {
    --tw-border-opacity: 1 !important;
    border-bottom-color: rgb(203 213 225 / var(--tw-border-opacity)) !important;
}
[role="tab"][aria-selected="true"] {
    border-top-color: currentColor !important;
    border-bottom-color: transparent !important;
    font-weight: 600;
}
[role="tab"][aria-selected="true"] > span,
[role="tab"]:hover > span,
[role="tab"]:focus > span,
[role="tab"]:active > span {
    opacity: 1;
}
[role="tab"][aria-label="PNPM" i] {
    --file-icon: url("https://icns.ml/pnpm.svg");
    --tw-text-opacity: 1;
    color: rgb(254 215 170 / var(--tw-text-opacity));
}
[role="tab"][aria-label="PNPM" i]:hover,
[role="tab"][aria-label="PNPM" i][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(251 146 60 / var(--tw-text-opacity));
}
[role="tab"][aria-label="Yarn" i] {
    --file-icon: url("https://icns.ml/yarn.svg");
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}
[role="tab"][aria-label="Yarn" i]:hover,
[role="tab"][aria-label="Yarn" i][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
}
[role="tab"][aria-label="NPM" i] {
    --file-icon: url("https://icns.ml/npm.svg");
    --tw-text-opacity: 1;
    color: rgb(252 165 165 / var(--tw-text-opacity));
}
[role="tab"][aria-label="NPM" i]:hover,
[role="tab"][aria-label="NPM" i][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(248 113 113 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".svelte"] {
    --file-icon: url("https://icns.ml/svelte.svg");
    color: #ff5c2245;
}
[role="tab"][aria-label$=".svelte"]:hover,
[role="tab"][aria-label$=".svelte" i][aria-selected="true"] {
    color: #ff5c22aa;
}
[role="tab"][aria-label$=".svelte"][aria-selected="true"] {
    color: #ff5c22cc;
}
[role="tab"][aria-label$=".js"],
[role="tab"][aria-label$=".jsx"] {
    --file-icon: url("https://icns.ml/javascript.svg");
    --tw-text-opacity: 1;
    color: rgb(254 249 195 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".js"]:hover,
[role="tab"][aria-label$=".jsx"]:hover,
[role="tab"][aria-label$=".js" i][aria-selected="true"],
[role="tab"][aria-label$=".jsx" i][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(254 240 138 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".js"][aria-selected="true"],
[role="tab"][aria-label$=".jsx"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(253 224 71 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".js"][aria-selected="true"]:hover,
[role="tab"][aria-label$=".jsx"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(250 204 21 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".ts"],
[role="tab"][aria-label$=".tsx"] {
    --file-icon: url("https://icns.ml/typescript.svg");
    --tw-text-opacity: 1;
    color: rgb(191 219 254 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".ts"]:hover,
[role="tab"][aria-label$=".tsx"]:hover {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".ts"][aria-selected="true"],
[role="tab"][aria-label$=".tsx"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(147 197 253 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".ts"][aria-selected="true"]:hover,
[role="tab"][aria-label$=".tsx"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(96 165 250 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".css"] {
    --file-icon: url("https://icns.ml/css3.svg");
    --tw-text-opacity: 1;
    color: rgb(243 232 255 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".css"]:hover {
    --tw-text-opacity: 1;
    color: rgb(233 213 255 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".css"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".css"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"],
[role="tab"][aria-label$=".scss"] {
    --file-icon: url("https://icns.ml/sass.svg");
    --tw-text-opacity: 1;
    color: rgb(233 213 255 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"]:hover,
[role="tab"][aria-label$=".scss"]:hover {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"][aria-selected="true"],
[role="tab"][aria-label$=".scss"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"][aria-selected="true"]:hover,
[role="tab"][aria-label$=".scss"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(168 85 247 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".htm"],
[role="tab"][aria-label$=".html"] {
    --file-icon: url("https://icns.ml/html5.svg");
    --tw-text-opacity: 1;
    color: rgb(203 213 225 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".htm"]:hover,
[role="tab"][aria-label$=".html"]:hover {
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".htm"][aria-selected="true"],
[role="tab"][aria-label$=".html"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(148 163 184 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".htm"][aria-selected="true"]:hover,
[role="tab"][aria-label$=".html"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(71 85 105 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"],
[role="tab"][aria-label$=".scss"] {
    --file-icon: url("https://icns.ml/sass.svg");
    --tw-text-opacity: 1;
    color: rgb(233 213 255 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"]:hover,
[role="tab"][aria-label$=".scss"]:hover {
    --tw-text-opacity: 1;
    color: rgb(192 132 252 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"][aria-selected="true"],
[role="tab"][aria-label$=".scss"][aria-selected="true"] {
    --tw-text-opacity: 1;
    color: rgb(216 180 254 / var(--tw-text-opacity));
}
[role="tab"][aria-label$=".sass"][aria-selected="true"]:hover,
[role="tab"][aria-label$=".scss"][aria-selected="true"]:hover {
    --tw-text-opacity: 1;
    color: rgb(168 85 247 / var(--tw-text-opacity));
}
[role="tab"] > span {
    margin-left: 0.5rem !important;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
[role="tab"] > span:not(:before) {
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
    opacity: 0.6;
}
[role="tab"]:before {
    content: " ";
    background-color: currentColor;
    mask-image: var(--file-icon);
    -webkit-mask-image: var(--file-icon);
    position: absolute;
    top: 55%;
    left: 1rem;
    display: block;
    height: 1rem;
    width: 1rem;
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
        rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
        scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    border-radius: 0.125rem;
    transition: all 50ms;
}
[role="tabpanel"] {
    overflow-x: scroll;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}